.task {
  margin: 10px;
}

.mat-card-title {
  font-size: 16px; /* Réduire la taille de la police du titre */
}

.mat-card-content p {
  font-size: 14px; /* Réduire la taille de la police du contenu */
  margin-bottom: 8px; /* Ajuster la marge inférieure pour réduire l'espacement */
}

.mat-card-content p.assigned-to {
  margin-bottom: 4px; /* Réduire l'espacement spécifique pour "Assigned To" */
}

.mat-card-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.edit-button {
  background-color: #1976d2; /* Couleur bleue pour le fond du bouton Modifier */
  color: white; /* Couleur du texte en blanc */
  height: 30px; /* Hauteur du bouton Modifier */
  min-width: 80px; /* Largeur minimale du bouton Modifier */
  padding: 0 8px; /* Padding du bouton Modifier */
  font-size: 12px; /* Taille de la police du bouton Modifier */
}

.delete-button {
  background-color: #be2f25; /* Couleur rouge pour le fond du bouton Supprimer */
  color: white; /* Couleur du texte en blanc */
  height: 30px; /* Hauteur du bouton Supprimer */
  min-width: 80px; /* Largeur minimale du bouton Supprimer */
  padding: 0 8px; /* Padding du bouton Supprimer */
  font-size: 12px; /* Taille de la police du bouton Supprimer */
  margin-left: auto; /* Pousser le bouton Supprimer vers la droite */
}

.created-by {
  font-size: 12px; /* Taille de la police plus petite pour le "Created By" */
  color: gray; /* Couleur grise pour le "Created By" */
}