<h2 mat-dialog-title class="dialog-title">New Task</h2>
<mat-dialog-content>
  <form [formGroup]="addTaskForm" class="full-width">
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" required>
      <mat-error *ngIf="addTaskForm.get('title')?.hasError('required')">
        Title is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="addTaskForm.get('description')?.hasError('required')">
        Description is required.
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Assigned to:</mat-label>
      <mat-select formControlName="user_id" required>
        <mat-option *ngFor="let user of users" [value]="user.id">{{ user.username }}</mat-option>
      </mat-select>
      <mat-error *ngIf="addTaskForm.get('user_id')?.hasError('required')">
        Assignee is required
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" class="full-width">
      <mat-label>deadline</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="deadline" required>
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="addTaskForm.get('deadline')?.hasError('required')">
        Deadline is required.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button color="primary" (click)="onSave()" [disabled]="addTaskForm.invalid || isSaving">Save</button>
</mat-dialog-actions>