<div class="kanban-board">
  <div *ngFor="let column of filteredColumns; let i = index" class="kanban-column">
    <h2>{{ column.title }}</h2>
    <div
      cdkDropList
      [cdkDropListData]="column.tasks"
      class="task-list"
      (cdkDropListDropped)="onDrop($event, column)"
      [cdkDropListConnectedTo]="connectedTo"
      [id]="'task-list-' + i"
    >
      <div *ngFor="let task of column.tasks" cdkDrag>
        <app-task [task]="task" (delete)="deleteTask($event)" (update)="updateTask($event)"></app-task>
      </div>
    </div>
  </div>
</div>